.yellow{
    width: 500px;
    height: 1000px;
    background-color: yellow;
}

.items{
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid black;
    background-color:  green;
}